<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <!-- Agregar CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-4 mb-4">Empleador</h1>
  <p class="alert alert-success">Empleador guardado con éxito</p>
  <!--<p>Id: <span th:text="${empleador.id}"></span></p>
  <p>Nombre: <span th:text="${empleador.nombre}"></span></p>
  <p>Apellido: <span th:text="${empleador.apellido}"></span></p>
  <p>PDF Url: <a th:href="${empleador.pdfUrl}" th:text="${empleador.pdfUrl}"></a></p>-->
</div>
</body>
</html>
